src/conf/xml-resources/web-service-references/Conexion/wsdl/localhost_8084/ConexionBDWS/Conexion.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicio/">

<xs:element name="Buitres" type="tns:Buitres" />

<xs:element name="BuitresResponse" type="tns:BuitresResponse" />

<xs:complexType name="Buitres">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0" />
<xs:element name="Clave" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuitresResponse">
<xs:sequence>
<xs:element name="return" type="tns:conexion" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="conexion">
<xs:sequence />
</xs:complexType>
</xs:schema>